.user-header {
    height: auto;
    width: 100%;
    background-color: var(--primary-accent);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.user-header lord-icon {
    transform: scaleX(-1);
}

.greeting {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--text-color2);
}

.user-main {
    height: 100vh;
    width: 100%;
}

.nav {
    min-height: 4.25rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color2);
    padding: 1rem;
    color: var(--text-color1);
    overflow: hidden;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navItem {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    color: var(--text-color1);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.navItem.active {
    background-color: var(--border-color);
}

.navItem:nth-child(1) {
    margin-top: 1rem;
}

.navItem:nth-child(4) {
    margin-bottom: 0;
}

.navItem:hover {
    background-color: var(--border-color);
}

.user-article {
    height: auto;
    width: 100%;
    padding: 1rem;
}

.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color1); /* Assuming you want to apply a specific text color */
}

.breadcrumb > box-icon {
    height: 20px;
    width: 20px;
    margin-right: 8px; /* Add space between the icon and text */
    vertical-align: middle;
}

.slash {
    margin: 0 12px; /* Space around the slash */
}

/* Footer */
.user-footer {
    height: auto;
    width: 100%;
    padding: 1rem;
    color: var(--text-color1);
}

/* Still fixing */
/* For Tablet Landscape */
/* @media screen and (min-width: 769px) and (max-width: 1279px) {
    .user-main {
        display: flex;
    }

    .nav {
        max-width: 15%;
        transition: max-width 0.5s ease-out;
    }

    .nav-header {
        margin-bottom: 1rem;
    }
} */
/* Still fixing */

/* For Desktop */
@media screen and (min-width: 1280px){
    .user-main {
        display: flex;
    }

    .nav {
        max-width: 12%;
        transition: max-width 0.5s ease-out;
    }

    .pageName, .nav_btn {
        display: none;
    }

    .navItem:nth-child(1) {
        margin-top: 0.5rem;
    }
}

