.user-header {
    height: auto;
    width: 100%;
    background-color: var(--primary-accent);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-header lord-icon {
    transform: scaleX(-1);
}

.greeting {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--text-light);
}

/* Temporary */
.logout-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--highlight);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: gap 0.3s ease;
}

.logout-btn:hover {
    gap: 15px;
}
/* Temporary */

.user-main {
    height: 100vh;
    width: 100%;
}

.nav {
    min-height: 4.25rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-dark);
    background-color: var(--background-light2);
    padding: 1rem;
    overflow: hidden;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.navItem:hover {
    background-color: var(--border-color);
}

.navItem.active {
    background-color: var(--border-color);
}

.navItem:nth-child(1) {
    margin-top: 1rem;
}

.navItem:nth-child(4) {
    margin-bottom: 0;
}

.navItem .bx {
    height: 20px;
    width: 20px;
}

.user-article {
    height: auto;
    width: 100%;
    padding: 1rem;
}

.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-dark); /* Assuming you want to apply a specific text color */
}

.breadcrumb > box-icon {
    height: 20px;
    width: 20px;
    margin-right: 8px; /* Add space between the icon and text */
    vertical-align: middle;
}

.slash {
    margin: 0 12px; /* Space around the slash */
}

/* Footer */
.user-footer {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 1rem;
    color: var(--text-dark);
    background-color: var(--background-light2);
}

/* Still fixing */
/* For Tablet Landscape */
/* @media screen and (min-width: 769px) and (max-width: 1279px) {
    .user-main {
        display: flex;
    }

    .nav {
        max-width: 15%;
        transition: max-width 0.5s ease-out;
    }

    .nav-header {
        margin-bottom: 1rem;
    }
} */
/* Still fixing */

/* For Desktop */
@media screen and (min-width: 1280px){
    .user-main {
        display: flex;
    }

    .nav {
        color: var(--text-light);
        background-color: var(--background-dark);
        max-width: 12%;
        padding: 0;
        transition: max-width 0.5s ease-out;
    }

    div.nav-container.open {
        height: auto;
    }

    .navItem {
        height: auto;
        min-height: 50px;
        padding: 0.5rem 0 0.5rem 1rem;
    }

    .navItem:hover {
        background-color: var(--background-darker);
    }
    
    .navItem.active {
        background-color: var(--background-darker);
    }
    
    .navItem:nth-child(1) {
        margin-top: 0;
    }

    .pageName, .nav_btn {
        display: none;
    }
}

