.nav.side {
    max-width: 6%;
}

.nav_btn {
    border: none;
}

.nav-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.nav-container.open {
    max-height: 300px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

