.nav.sideExpand {
    max-width: 15%;
}

.nav.sideCollapse {
    max-width: 5%;
}

.pageName.absolute, .nav-item-name.itemCollapse {
    display: none;
}

.nav_btn {
    border: none;
}

.navItem.mr-0 box-icon {
    margin-right: 0;
}

.navItem.mr-0 {
    height: auto;
    max-height: 36px;
    width: 100%;
    max-width: 36px;
}

.nav-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.nav-container.open {
    max-height: 300px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}


